# Ignore annoying mac files
*.DS_Store

# Ignore Python compilation
*.pyc

# Ignore cache
*.cache/

# Ignore coverage tests
.coverage
.pytest_cache/

# Ignore installation
.eggs/
dist/
build/

# Ignore pypi config
.pypirc

# Ignore heavy data
data/mccd_inputs/*
data/outputs/*
data/sextractor_preprocessed/*
data/sextractor_inputs/*

# Ignore notebook checkpoints
notebooks/.ipynb_checkpoints
notebooks/hidden_notenooks/

# Ignore hidden tests
tests/hidden_tests/

# Mac hidden file
*.DS_Store

# Ignore files from pycharm
.idea/*
